<launch>
  <!-- Load parameters from YAML into the parameter server -->
  <rosparam file="$(find computer_vision)/config/snap_photos.yaml" command="load"/>

  <!-- Launch the node using the parameters -->
  <node pkg="computer_vision" type="snap_photos.py" name="photo_snapper" output="screen"/>
</launch>
