<launch>
    <node name="occupancy_grid_publisher" pkg="pathfinder_pkg" type="occupancy_grid_publisher.py" output="screen"/>
    <node name="trajectory_planner" pkg="pathfinder_pkg" type="trajectory.py" output="screen"/>
    <node name="path_transformer" pkg="pathfinder_pkg" type="real_world_transform.py" output="screen"/>
</launch>
